<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thundersoft.progector"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.thundersoft.progector.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProgectorView"></activity>
        <activity 
            android:name=".ProgectorMoreActivity"
             android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleTop" >
        </activity>
        <activity android:name=".ProgectVoice"
            android:theme="@style/TransparentDialog"></activity>
        <activity 
            android:name=".ProgectorSettings">
            <intent-filter >
                <action android:name="com.thundersoft.progector.settings"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            </activity>
          <activity android:name=".ProgectorWifiSetting"></activity>
           <activity android:name=".ZonePicker"></activity>
           <activity android:name=".GetApkActivity"></activity>
           <activity android:name=".ProgectorHdmiSetting"></activity>
           <activity android:name=".KeystoneCorrection"></activity>
           <activity android:name=".LanguageSettingsActivity"></activity>
           
    </application>

</manifest>
